


.btn.primary{
    background: linear-gradient(to bottom, $secondary 0%, $primary 30%);
    color: #fff;
    padding: 0.5em 2em;
    border: 1px solid $primary;

    box-shadow: #fff 0 0 5px -1px;
    text-decoration: none;
    text-transform: uppercase;
    &:focus,
    &:hover{
        filter: brightness(1.1);
    }
    &:active{
        background: $primary;
    }
}