.contact-container-dark {
	background: linear-gradient(to right, #01404f, #5cbecd);

	color: #fff;
	label {
		color: $body-color;
	}

	.cell-bg {
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		user-select: none;
		pointer-events: none;
		background: url(../img/cell-bg.png) no-repeat;
		background-size: contain;
		background-position: bottom center;
		padding-bottom: 50%;
		opacity: 0.5;

		@include media-breakpoint-down(md){
			top: 0;
			right: auto;
			background-size: cover;
		}
	}
	.disclaimer {
		a {
			color: inherit;
		}
	}
}
