
// HELPERS


.uppercase{
    text-transform: uppercase;
}

.block{
    display: block;
}


.relative{
    position: relative;
}



@include breakpoint(large){
    .large-14{
        width: ( 1/12 * 14 * 100%);
    }
    .large-200p{
        width: 200%;
    }
}