// HELPERS

.uppercase {
	text-transform: uppercase;
}

.block {
	display: block;
}

.relative {
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

@include media-breakpoint-up(lg) {
	.columns-lg-2 {
		column-count: 2;
		column-gap: var(--gutter);
	}
}
