$header-sp-bottom: 10px;

.main-header {
	background: $gradient-header;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
	height: 50px;
	transition: 333ms;

	@include media-breakpoint-up(md) {
		height: 70px;
	}

	@include media-breakpoint-up(xl) {
		height: 90px;
	}

	&.sticky {
		box-shadow: #000 0 0 7px -1px;

		@include media-breakpoint-up(xl) {
			height: 70px;
		}
	}

	&__logo {
		display: block;
		// max-width: 30%;
		// min-width: 100px;
		// width: 160px;
		height: 100%;
		max-height: 55px;
		margin-right: auto;

		img {
			display: block;
			height: 100%;
		}
	}

	.default-wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
		align-items: center;
		height: 100%;
		@include media-breakpoint-up(lg) {
			padding-top: 15px;
			padding-bottom: 17px;
		}
	}
}

.main-header__buttons {
	display: flex;
	flex-shrink: 1;
	flex-wrap: 0;
	align-self: center;
	margin-top: 12px;
	font-size: 14px;
	margin-bottom: 0.6rem;
	padding-right: 28px;
	
	@include media-breakpoint-up(md) {
		// font-size: 20px;
		align-self: flex-end;
		margin-bottom: 0.4rem;
		// margin-bottom: 12px;
		padding-top: 14px;
	}
	@include media-breakpoint-up(lg) {
		padding-right: 0;
		margin-bottom: 0.2rem;
	}

	a {
		color: $light-text-color;
		padding: 3px 8px;
		transition: 333ms;

		@include media-breakpoint-up(xl) {
			padding-left: 12px;
			padding-right: 12px;
		}
		svg {
			width: 1.7em;
			height: 1.7em;
			display: block;
		}
		&:hover {
			transform: scale(1.1);
			color: #fff;
		}
	}
}

.main-menu {
	flex-grow: 1;
	// font-size: 20px;
	line-height: 1.2;
	align-self: flex-end;

	display: none;

	@include media-breakpoint-up(md) {
		margin-bottom: 0.3rem;
		display: block;
	}
	ul {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
		a {
			position: relative;
			text-transform: uppercase;
			padding: 0.5em 0.7em 0.5em;
			transition: 333ms;
			font-weight: 300;
			color: $light-text-color;
			text-decoration: none;
			border-radius: 5px;
			@include media-breakpoint-up(xl) {
				padding-left: 0.9em;
				padding-right: 0.9em;
			}

			&::after {
				content: "";
				width: 0%;
				position: absolute;
				border-bottom: 1px solid currentColor;
				bottom: 0;
				left: 50%;
				opacity: 0;
				transition: 555ms;
				transform: translateX(-50%);
			}
			&:hover {
				color: #fff;
				// background: rgba(255, 255, 255, 0.05);
				&::after {
					opacity: 1;
					width: 100%;
				}
			}
		}
	}
}
.offcanvas-end {
	width: 280px;
}
.offcanvas .menu {
	align-self: flex-end;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		a {
			position: relative;
			text-decoration: none;
			display: block;
			padding: 0.5rem 1rem;
			transition: 333ms;
			&::before {
				transition: 333ms;
				transform: translateX(-10%);
				// transform: translateX(-100%);
				content: "";
				opacity: 0;
				background: linear-gradient(to right, rgba($light-text-color, 0.9) 0%, transparent 100%);
				position: absolute;
				inset: 0;
				z-index: -1;
			}
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
	}
}

// Hamburger
// https://codepen.io/aaroniker/pen/LXVqxR
$color: $light-text-color;
$active: $body-color;

.hamburger-btn {
	all: unset;
	padding: 3px;
	position: fixed;
	z-index: 1100;
	right: 16px;
	top: 15px;
	@include media-breakpoint-up(md) {
		top: 30px;
	}
}
.toggle {
	display: block;
	cursor: pointer;

	// display: none;
	> div {
		width: 20px;
		height: 14px;
		position: relative;
		div {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			transition: transform 0.5s ease;
			span {
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				&:first-child {
					top: 0;
					&:before,
					&:after {
						top: 0;
					}
				}
				&:last-child {
					bottom: 0;
					&:before,
					&:after {
						bottom: 0;
					}
				}
				&:before,
				&:after {
					content: "";
					display: block;
					width: 47%;
					height: 2px;
					border-radius: 1px;
					background: $color;
					position: absolute;
					-webkit-backface-visibility: hidden;
					transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
				}
				&:before {
					left: 0;
					transform-origin: 0 50%;
					transform: translate(1px, 0) scaleX(1.1);
				}
				&:after {
					right: 0;
					transform-origin: 100% 50%;
					transform: translate(-1px, 0) scaleX(1.1);
				}
			}
		}
		svg {
			display: block;
			fill: none;
			stroke: $color;
			stroke-width: 2px;
			width: 44px;
			height: 44px;
			stroke-linecap: round;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -22px 0 0 -22px;
			stroke-dasharray: 0 82.801 8 82.801;
			stroke-dashoffset: 82.801;
			transform-origin: 50% 50%;
			-webkit-backface-visibility: hidden;
			transform: scale(1);
			transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;
			&:nth-child(3) {
				transform: rotate(180deg) scale(1);
			}
		}
	}

	&.open > div {
		div {
			transform: rotate(90deg);
			span {
				&:before,
				&:after {
					background: $active;
				}
				&:first-child {
					&:before {
						transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
					}
					&:after {
						transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
					}
				}
				&:last-child {
					&:before {
						transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
					}
					&:after {
						transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
					}
				}
			}
		}
		svg {
			stroke-dashoffset: 62;
			stroke-dasharray: 0 82.801 62 82.801;
			transform: rotate(90deg);
			stroke: $active;
			&:nth-child(3) {
				transform: rotate(270deg);
			}
		}
	}
}
