:root {
	--gutter: 20px;
	--gutter2: 40px;
}

html,
body {
	font-size: 16px;
	// color: $colorText;

	@include media-breakpoint-up(lg) {
		font-size: 18px;
	}
	@include media-breakpoint-up(xl) {
		font-size: 20px;
	}
}

img {
	max-width: 100%;
}

body {
	overflow-x: hidden;
	background: url(../img/main-bg.jpg) top center no-repeat;
}

.light-bg {
	background: $light-bg;
}

.nav-footer {
	display: flex;
	flex-direction: row;
	font-size: 18px;
	margin: 0;
	padding: 1em;
	list-style: none;
	justify-content: center;
	a {
		text-decoration: none;
		font-weight: 300;
	}
}

.default-wrapper {
	max-width: 1560px;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
	@include media-breakpoint-up(md) {
		--gutter: 30px;
	}
	@include media-breakpoint-up(1560px) {
		margin-left: auto;
		margin-right: auto;
	}
	// @include media-breakpoint-up(desktop){
	//     --gutter: 30px;
	// }
}

.paddings-v {
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
}
.paddings-v3 {
	padding-top: calc(var(--gutter) * 3);
	padding-bottom: calc(var(--gutter) * 3);
}
